In [20]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [21]:
data = pd.read_csv('https://raw.githubusercontent.com/fahmimnalfrzki/Dataset/main/kc_house_data.csv')
data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [22]:
df = data.copy()

In [23]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [24]:
data_inf = df.sample(10, random_state=11)
data_inf

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
6444,34000005,20140618T000000,343566.0,2,1.00,1100,4200,1.0,0,0,...,7,1100,0,1954,0,98136,47.5312,-122.392,1240,4000
2258,1561910270,20150317T000000,372400.0,3,2.50,2720,11937,2.0,0,0,...,9,2720,0,1990,0,98031,47.4185,-122.212,2590,9683
8954,3524039202,20150420T000000,1065500.0,3,2.25,2950,7232,1.0,0,2,...,8,1520,1430,1983,0,98136,47.5257,-122.382,2130,7140
5432,2568200290,20140826T000000,762500.0,4,2.50,3150,5979,2.0,0,0,...,9,3150,0,2005,0,98052,47.7082,-122.101,3150,6595
5180,9285800275,20140814T000000,835000.0,3,2.25,2520,6690,2.0,0,2,...,8,1700,820,1944,1990,98126,47.5705,-122.381,1990,5792
4346,1112000031,20150318T000000,715000.0,3,2.25,1990,4977,3.0,0,0,...,9,1990,0,2012,0,98118,47.5404,-122.268,1280,5000
13215,3026059011,20140813T000000,825000.0,3,2.75,3040,24192,2.0,0,0,...,10,3040,0,1987,0,98034,47.7108,-122.225,2770,5728
14017,9136103136,20150313T000000,580000.0,2,1.00,860,4013,1.0,0,0,...,7,860,0,1925,0,98103,47.6652,-122.338,1490,4013
10784,4104900340,20150204T000000,710000.0,4,2.50,3220,18618,2.0,0,1,...,10,3220,0,1991,0,98056,47.5326,-122.181,2650,11896
1422,6127600036,20141105T000000,799000.0,4,2.75,2390,6820,2.0,0,0,...,7,2140,250,1945,0,98115,47.6788,-122.270,1980,6820

In [25]:
df_tt = df.drop(data_inf.index)
df_tt

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [26]:
df_tt.reset_index(drop=True,inplace=True)
data_inf.reset_index(drop=True,inplace=True)

In [27]:
X = df_tt.drop(columns=(['id','date','price']))
y = df_tt['price']

In [28]:
X

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21598,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21599,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21600,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21601,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21602,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [29]:
y

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21598    360000.0
21599    400000.0
21600    402101.0
21601    400000.0
21602    325000.0
Name: price, Length: 21603, dtype: float64

In [30]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=17)

print(X_train.shape)
print(X_test.shape)

(17282, 18)
(4321, 18)

In [37]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [38]:
model = LinearRegression(fit_intercept=True)
model.fit(X_train_scaled,y_train)

y_pred_train = model.predict(X_train_scaled)
y_pred_test = model.predict(X_test_scaled)

In [42]:
import sklearn.metrics as skm

mae_train = skm.mean_absolute_error(y_train, y_pred_train)
r2_train = skm.r2_score(y_train, y_pred_train)
mape_train = skm.mean_absolute_percentage_error(y_train, y_pred_train)

mae_test = skm.mean_absolute_error(y_test, y_pred_test)
r2_test = skm.r2_score(y_test, y_pred_test)
mape_test = skm.mean_absolute_percentage_error(y_test, y_pred_test)

print('TRAIN')
print('MAE: ', mae_train)
print('MAPE: ', mape_train)
print('R2: ', r2_train)

print('TEST')
print('MAE: ', mae_test)
print('MAPE: ', mape_test)
print('R2: ', r2_test)

TRAIN
MAE:  126423.51995058394
MAPE:  0.2567229388658933
R2:  0.7013055416848976
TEST
MAE:  124181.81271202375
MAPE:  0.2522366657089629
R2:  0.6929578657840194

In [43]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline


for deg in np.arange(1,5,1):
    poly_model = make_pipeline(PolynomialFeatures(deg),LinearRegression())
    poly_model.fit_transform(X_train_scaled)
    
    y_poly_pred_train = poly_model.predict(X_train_scaled)
    y_poly_pred_test = poly_model.predict(X_test_scaled)

    print('DEG: ', deg)
    print('TRAIN')
    print('MAE: ', mae_train)
    print('MAPE: ', mape_train)
    print('R2: ', r2_train)

    print('TEST')
    print('MAE: ', mae_test)
    print('MAPE: ', mape_test)
    print('R2: ', r2_test)

AttributeError: 'PolynomialFeatures' object has no attribute 'predict'